<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Word Count</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="styles.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700" rel="stylesheet">
    </head>
    <body ng-app="app">
        <div id="main" ng-controller="wordCount">
            <h1>Werd Counta</h1>
        <div id="input">
            <input type="text" placeholder="paste your text" ng-model="words">
        </div>
            <p ng-model="textCounter">
            {{textCounter()}}
            </p>
            <p ng-model="longest">
            {{longest()}}
            </p>
            <p ng-model="shortest">
            {{shortest()}}
            </p>
   
        </div>



    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="app.js"></script>
    </body>
</html>